@charset "utf-8";
/* CSS Document */

#outer-div {
  width: 100%;
  text-align: center;
  background-color: #0666a3;
}

#inner-div {
  display: inline-block;
  margin: 0 auto;
}
.btn{
	width: 250px;
	height: 100px;
	text-align: left;
	padding: 0px;
}
#border {
  width: 300px;
  border: 15px solid #FD0004;
  padding: 50px;
  margin: 20px;
}